/********************************
 GENERAL
 *******************************/

 .container {
  max-width: 1024px;
}

.link {
    color: #436b99 !important;
}

.btn-dark-blue {
  background-color: #2e4058 !important;
  border-color: #2e4058 !important;
}

.bold {
    font-weight: bold;
}



/********************************
 FEATURES
 *******************************/

.feature-card {
    border: none;
}

.feature-icon {
    max-height: 70px;
}
